.popover-content {
    max-height: 375px;
    overflow-y: scroll;
    padding:0;
}

.kludge {
    display:block;
    height:900px;
    width:100px;
    background:#f0f0f8;
}


.change-value {
     margin-left:25px;
}

.fa.fa-minus-circle {
    color:#5b0000;
}
.fa.fa-plus-circle {
    color:#005000;
}
.fa.fa-stack-1x span {
    color: white;
    font-size: .5em;
    margin-left: 9px;
    margin-top: -9px;
    padding:3px 4px;
    background:red;
    font-family: sans-serif;
}

.fa.fa-asterisk {
    color: blue;
}

.popover-content .change-item:hover {
    /*background:aliceblue;*/
    cursor:pointer;
}

.popover {
    position:fixed;
}

.change-dock {
    position:fixed;
    top: 0;
    right: 100px;
}


/*TODO : this should be configurable*/
.pop-div {
    position: fixed;
    top: 0;
    right: 176px;
}

.popover { 
    min-width:350px;
}
/*--------------------*/

.change-item>div:first-child:before {
    font-family: FontAwesome;
}

.change-item-add> div:first-child:before {
    content:'\f055';
}
.change-item-modify> div:first-child:before {
    content:'\f0d8';
}
.change-item-delete> div:first-child:before {
    content:'\f056';
}




.change-value .change-action {
     display:none;
}

.change-values {
    font-size:smaller;
}

.list-group-item.change-item {
    padding:8px 8px;
}

.change-value.active .change-action.change-accept {
    display:inline-block;
    /*outline:1px solid blue;*/
}
.change-value:not(.active) .change-action.change-reject {
    display:inline-block;
    /*outline:1px solid red;*/
}

.change-value:not(.active) .change-action.change-accept {
    display:none;
}

.change-value.active .change-action.change-reject {
    display:none;
}

li.change-input {
    position:absolute;
    top:0;
    right:0;
}

@keyframes highlight {
    from { border-size:inherit; }
    to { border-size:5px; border-color: #ffe982;}
}

[data-change-id].active {
    animation-name: highlight;
    animation-duration: 240ms;
    animation-iteration-count:2;
}
