

/* 
.kludge {
    display:block;
    height:900px;  
    width:100px;
    background:#f0f0f8;
}
 */

.fa.fa-minus-circle {
    color:#5b0000;
}
.fa
.fa-plus-circle {
    color:#005000;
}
.fa.fa-stack-1x span {
    color: white;
    font-size: .7em;
    margin-left: 23px;
    margin-top: 7px;
    padding: 3px 6px;
    background: #cd2b2b;
    font-family: sans-serif;
}

.change-input-popover .popover-title .fa,
.change-panel-popover .popover-title .fa {
    color: #5171ba;
}

.change-input-popover .popover-title .fa {
    font-weight:bold;
    padding-right:5px;
}

.change-panel-popover .popover-title .fa-stack {
    margin-right:10px;
}

.change-panel-popover .change-value:empty:after {
    content:'-';
    font-size:12px;
    font-style:italic;
    color:#999;
}

.change-panel-popover .change-value {
     /* margin-left:25px; */
}

.change-item.list-group-item.active {
    text-shadow: none;
    background: #ddd;
    border-color: #ccc;
    color: #447;
}

.change-panel-popover .change-item.active:hover { 
    color:#447;
    background-color: #cde;
    border-color: #bb0;
}

.change-panel-popover .popover-content .change-item:hover {
    cursor:pointer;
}
.change-panel-popover .popover-content .toggle i:hover {
    cursor:default;
}
.change-panel-popover.popover {
    position:fixed;
    min-width: 400px;
}
.change-panel-popover .popover-content {
    max-height: 375px;
    overflow-y: scroll;
    padding:0;
}
.change-panel-popover .popover-content {
    max-height: 375px;
    overflow-y: scroll;
}


.change-input-popover .change-value .change-input-accept {
    visibility:hidden;
    padding-left:5px;
    display:inline-block;
    width:24px;
}

.change-input-popover .change-value.accepted .change-input-accept {
    visibility:visible;
    color: #88c;
}

.change-input-popover .change-value.accepted .change-input-accept i.fa:before {
    content: '\f00c';
}

.change-input-popover .change-value:hover .change-input-accept {
    color:forestgreen;
    visibility: visible;
}

.btn-group-xxs>.btn {
    padding: 1px 3px;
    font-size: 8px;
    line-height: 1;
    border-radius: 0;
}

.popover-content {
    padding:0;
}

.change-input-popover .change-value {
    padding:4px 0;
}

.change-input-popover .list-group-item {
    border:none;
}

.change-input-icon {
    padding:2px 0;
}

.change-input-popover.popover {
    min-width:350px;
}
.popover .list-group { margin-bottom:0; }
/*TODO : this should be configurable.  this is the link that the popover is attached to.
 i have positioned fixed to the top right of the screen. */
.change-dock {
    position:fixed;
    /* outline: 1px solid blue; */
    top: 0;
    right: 240px;
}

/*--------------------*/

.change-item .summary:before {
    font-family: FontAwesome;
    padding-right:10px;
}
.change-item-add .summary:before {
    content:'\f055';
}
.change-item-modify .summary:before {
    content:'\f0d8';
    color: #99a;
}
.change-item-delete .summary:before {
    content:'\f056';
}
.change-item .summary {
    color: #2b3c91;
}

.list-group-item.change-item {
    padding: 3px 3px;
}

.toggle-override i.fa {
    font-size:16px;
    padding-right:10px;
    margin-top: -7px;
    color: #a87b4c;
}

.change-item .fa {
    margin-top: -14px;
}
.change-item:not(.accepted) .fa-toggle-off {
    display:inline-block;
}
.change-item.accepted .fa-toggle-on {
    display:inline-block;
}

/*blargh...this won't work for all easy-components... what to do?*/
li.change-input-icon {
    position:absolute;
    top:0;
    right: 5px;
    color: #4b0303;
}


@keyframes highlight {
    from { border-size:inherit; }
    to { border-width:3px; border-color: #5171ba;}
    /*to { border-width:3px; border-color: #ffd13f;}*/
}

.active-change {
    animation-name: highlight;
    animation-duration: 340ms;
    animation-iteration-count:2;
}


.change-item i {
    float: right;
    font-size: large;
    color: #707b85;
}

.change-value.lg {
    /* margin-left:25px; */
    /* display: block; */
}
.change-value.sm {
    /* margin-left:25px; */
}

.change-item .summary {
    display:block;
}

.change-summary .change-value {
    display:block;
}


.change-panel-title {
    font-size: 22px;
    color: #5171ba;
    vertical-align: middle;
    font-weight: normal;
}

.change-aside {
    font-style:italic;
    font-size: 11px;
    display:inline-block;
    color: #777;
}

.change-aside.lg,
.change-value.lg+.change-aside {
    /* display:block; */
    padding-left:0;
}

.change-aside.sm,
.change-aside.md {
    padding-left:5px;
}

.change-item section {
    margin-left: 25px;
    display:none;
}

.change-item.change-item-delete section,
.change-item.change-item-add section,
.change-item.change-item-modify section {
    display:block;
}


.change-item-modify section div.accepted {
    display: block;
}

.change-item-modify section div:not(.accepted) {
    display:none;
}


.change-add {
    position:absolute;
    right:0;
}
.change-delete {
}





/*  BLARGH!  hacks to overcome forms & easy & other .css */
.change-input-popover.popover .btn.btn-default,
.change-panel-popover.popover .btn.btn-default {
    border-color:#ccc;
    padding: 1px 5px;
    color: #66a;
}
.change-input-popover.popover .btn.btn-default {
    font-size: 11px;
}
.change-panel-popover.popover .btn.btn-default {
    font-size: 18px;
}

.change-panel.popover.popover a.list-group-item,
.change-input.popover.popover a.list-group-item  {
    color: #666;
    font-size: 12px;
    text-decoration: none;
}