

.fa.fa-minus-circle {
    color: #b48585;
}
.fa
.fa-plus-circle {
    color:#005000;
}
.fa.fa-stack-1x span {
    color: white;
    font-size: .7em;
    margin-left: 23px;
    margin-top: 7px;
    padding: 3px 6px;
    background: #cd2b2b;
    font-family: sans-serif;
}

.change-input.popover .popover-title {
    background:#d9edf7;
}

.change-input .popover-title .fa,
.change-panel .popover-title .fa {
    color: #5171ba;
}

.change-input .popover-title .fa {
    font-weight:bold;
    padding-right:5px;
}

.change-panel .popover-title .fa-stack {
    margin-right:10px;
}

.change-panel .change-value:empty:after {
    content:'-';
    font-size:12px;
    font-style:italic;
    color:#999;
}

.change-panel .change-value {
     /* margin-left:25px; */
}

.change-item.list-group-item.active {
    text-shadow: none;
    background: #ddd;
    border-color: #ccc;
    color: #447;
    position: relative;
}

.change-panel .change-item.active:hover {
    color:#447;
    background-color: #cde;
    border-color: #8fa8b5;
}


.change-panel .popover-content .change-item .summary:hover {
    cursor:default;
    color:#094be2;
    text-decoration: underline;
}
.change-panel .popover-content .change-item:hover {
    cursor:pointer;
}

.change-panel .popover-content .toggle i:hover {
    cursor:default;
}
.change-panel.popover {
    position:fixed;
    min-width: 400px;
}

.change-panel.popover:hover {
    opacity:1 !important;
}

.change-panel.popover {
    opacity:.85 !important;
}
.change-panel .popover-content {
    max-height: 375px;
    overflow-y: scroll;
    padding:0;
}
.change-panel .popover-content {
    max-height: 375px;
    overflow-y: scroll;
}


.change-input .change-value .change-input-accept {
    visibility:hidden;
    color:#669;
    padding-left:5px;
    display:inline-block;
    width:24px;
}

.change-input .change-value.accepted .change-input-accept {
    visibility:visible;
    color: #88c;
}

.change-value:hover {
    cursor:pointer;
}

.change-input .change-value:hover .change-input-accept {
    color: #14b41f;
    visibility: visible;
    font-weight:bold;
}

.btn-group-xxs>.btn {
    padding: 1px 3px;
    font-size: 8px;
    line-height: 1;
    border-radius: 0;
}

.popover-content {
    padding:0;
}

.change-input .change-value {
    padding:4px 0;
}

.change-input .list-group-item {
    border:none;
}

.change-input.popover {
    min-width:350px;
    /* put this in front of change-panel.*/
    z-index:2000;
    border: 3px solid rgba(127,143,191,.4);
}
.popover .list-group { margin-bottom:0; }
/*TODO : this should be configurable.  this is the link that the popover is attached to.
 i have positioned fixed to the top right of the screen. */
.change-editor {
    position:fixed;
    top: 0;
    right: 240px;
}

/*--------------------*/

.change-panel.popover .change-item-add section li {
    color: #4f9462;
}
.change-panel.popover .change-item-modify section li {
    color: #8ea5b5;
}
.change-panel.popover .change-item-delete section li {
    color: #a57468;
}

.change-item .summary {
    color: #2b3c91;
}

.list-group-item.change-item {
    padding: 3px 3px;
}


.change-item .toggle i.fa {
    position: absolute;
    font-size: 22px;
    color: #707b85;
    right: 5px;
    top: 0;
}

.change-item .toggle-override i.fa {
    font-size:16px;
    padding-right: 6px;
    margin-top: 7px;
    color: #a87b4c;
}

.change-item .toggle .fa { 
    
}
.change-item section>.fa {
    float: left;
    margin-left: -22px;
    margin-top: -14px;
}
.change-item:not(.accepted) .fa-toggle-off {
    display:inline-block;
}
.change-item.accepted .fa-toggle-on {
    display:inline-block;
}

/*this is the default layout/config for icon. i know this layout wont work for all - you will
 need to put those hacks in a separate .css file specific to your implementation.
 */
li.change-input-icon {
    position:absolute;
    top:0;
    right: -16px;
    color: #759ee8;
    padding:2px 0;
}

li.change-add-icon,
li.change-delete-icon {
    float:right;
    margin-top:-40px;
/*     position:absolute; */
    margin-right:10px;
/*     outline:1px solid red; */
}

@keyframes highlightBorder {
    from { border-size:inherit; }
    to { border-width:3px; border-color: #5171ba;}
}


@keyframes highlight {
    from {box-shadow: inset 0 0 0 200px rgba(255, 250, 73, 0.35); border:1px solid #C1A227 ;}
    to {box-shadow: none; border:inherit;}
}


.active-change {
    animation-name: highlight;
    animation-duration: 340ms;
    animation-iteration-count:2;
}


.change-value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 92%;
    /* outline: 1px solid blue; */
    display: inline-block;
}

.change-value.lg {
    /* margin-left:25px; */
    /* display: block; */
}
.change-value.sm {
    /* margin-left:25px; */
}

.change-item .summary {
    display: inline-block;
    margin-left: 20px;
}

.change-summary .change-value {
    display:block;
}

.change-panel-title {
    font-size: 22px;
    color: #5171ba;
    vertical-align: middle;
    font-weight: normal;
}

.change-aside {
    font-style:italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:inline-block;
}

.change-value.md {
    max-width:50%;
}

.change-aside.lg,
.change-value.lg+.change-aside {
    display: block;
    padding-left:0;
    max-width: 75%;
}

.change-aside.sm,
.change-aside.md {
    padding-left:5px;
}

.change-item section {
    margin-left: 25px;
    display:none;
}

.change-item.change-item-delete section,
.change-item.change-item-add section,
.change-item.change-item-modify section {
    display:block;
}

.change-item-modify section div:not(.accepted) {
    display:none;
}

.change-add.panel {
    margin-bottom:-10px;    
}
.change-add .fa.fa-level-down {
    vertical-align: text-top;
    font-size: 20px;
    color: #95a1df;
}

.change-delete summary,
.change-add summary {
    font-size:larger;
    display: inline-block;
    padding-left: 10px;
}

.change-input.popover h3 {
    background:#d9edf7;
}

/*  BLARGH!  hacks to overcome forms & easy & other .css */
.change-input.popover .btn.btn-default,
.change-panel.popover .btn.btn-default {
    border-color:#ccc;
    padding: 1px 5px;
    color: #66a;
}
.change-input.popover .btn.btn-default {
    font-size: 11px;
}
.change-panel.popover .btn.btn-default {
    font-size: 14px;
}

.change-panel.popover.popover a.list-group-item,
.change-input.popover.popover a.list-group-item  {
    color: #666;
    font-size: 12px;
    text-decoration: none;
}


